<h3>再予約確認画面</h3>
<%= form_with  model: @reservation ,url: "/reservations/#{@reservation.id}/update", html: {multipart: true} ,method: :patch,local: true do |f| %> 
  <thead>
    <tr>
      <th>チェックイン</th>
        <td><%= @reservation.check_in_date.strftime("%Y/%m/%d") %></td><br>
        <%= f.hidden_field :check_in_date, value: @reservation.check_in_date %>
      <th>チェックアウト</th>
        <td><%= @reservation.check_out_date.strftime("%Y/%m/%d") %></td><br>
        <%= f.hidden_field :check_out_date, value: @reservation.check_out_date %>
      <th>宿泊日数</th>
        <td><%="#{@reservation.stay_days}日" %></td><br>
        <%= f.hidden_field :stay_days, value: @reservation.stay_days %>
      <th>宿泊人数</th>
        <td><%= "#{@reservation.number_of_people}人" %></td><br>
        <%= f.hidden_field :number_of_people, value: @reservation.number_of_people %>
      <th>お支払い金額</th>
        <td><%= "#{@reservation.payment_amount.to_s(:delimited, delimiter: ',')}円" %></td><br>
        <%= f.hidden_field :payment_amount, value: @reservation.payment_amount %>
      <div class="field">
        <%= f.hidden_field :user_id,value: @reservation.user_id %>        
        <%= f.hidden_field :room_id,value: @reservation.room_id %>
        <%= f.hidden_field :room_name,value: @reservation.room_name %>
        <%= f.hidden_field :room_introduction,value: @reservation.room_introduction %>
        <%= f.hidden_field :price,value: @reservation.price %>        
        <%= f.hidden_field :address,value: @reservation.address %>
        <%= f.hidden_field :room_image,value: @reservation.room_image %>
      </div> 
      <div class="field">
        <%= f.submit "再予約を確定する", class: "confirm_submit"%>
      </div>  
    </tr>
  </thead>
<% end %>
