<head>
</head>
<body>
    <header>
        <headerContain>
            <a href="/" class="header_logo_area"><img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="ヘッダーロゴ" class="header_image"> </a>
            <div class="headerButtons">
                <% if user_signed_in? %>
                    <% if @user.user_image.blank? %>
                        <%= image_tag "default_user.png", class: "top_user_image" %>
                    <% else %>
                        <img src=<%= @user.user_image %>class="top_user_image"><br>   
                    <% end %>                                 
                    <div class="headerButton account_setting">
                        <div class="dropdown_btn">
                            <div id="user_name">
                                <p class=""><%= @user.user_name %></p>
                                <p class="triangle">▼</p>     
                            </div>             
                        </div>   
                        <ul id="dropdown_list">
                            <li class="dropdown_item"><a href="/rooms/new">施設の新規登録</a></li>
                            <li class="dropdown_item"><a href="/reservations/index">予約済み一覧</a></li>
                            <li class="dropdown_item"><a href="/rooms/index">登録済み一覧</a></li>
                            <li class="dropdown_item"><a href="/users/account">アカウント設定</a></li>
                            <li class="dropdown_item"><a href="/users/sign_out">ログアウト</a></li>
                        </ul>
                    </div>              
                <% else %>
                    <div class="headerButton login">
                        <%= link_to "ログイン","/users/sign_in" %>
                    </div>
                    <div class="headerButton newAccount">
                        <%= link_to "新規登録","/users/sign_up" %>
                    </div>       
                <% end %>       
            </div>
        </headerContain>
    </header>
    <div class="FirstView">
        <div class="FirstViewContainer">
            <h2 class="FirstViewTitle">
                Potepan Shareで<br>
                まだ体験したことのない<br>
                旅をしよう
            </h2>
            <div class="rooms_search">
                <%= form_with  model: @rooms ,url: rooms_search_path, html: {multipart: true} ,method: :get, local: true do |f| %> 
                    <%= f.text_field :area_name , placeholder: "エリアを入力してください" %>
                    <%= f.submit "検索" %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="RecommendArea">
            <h2 class="RecommendAreaTitle"> おすすめのエリア</h2>
            <div class="RecommendAreas">
                <%= link_to "東京", rooms_search_path(area_name:"東京都") , class:"RecommendArea_tokyo" %>
                <%= link_to "大阪", rooms_search_path(area_name:"大阪府") , class:"RecommendArea_osaka" %>
                <%= link_to "京都", rooms_search_path(area_name:"京都府") , class:"RecommendArea_kyoto" %>
                <%= link_to "札幌", rooms_search_path(area_name:"札幌市") , class:"RecommendArea_sapporo" %>
            </div>
        </div>    
    </div>
</body>
<!-- Javascriptの外部ファイルが読み込めなかったため、やむを得ず直接記載しています。 -->
<script type="text/javascript">
    document.getElementById("dropdown_list").style.visibility = "hidden"
    document.addEventListener("click", (e) => {        
        if(!e.target.closest("#user_name")) {
            document.getElementById("dropdown_list").style.visibility = "hidden"
        } else {
            document.getElementById("dropdown_list").style.visibility = "visible"
        }
      })
</script>
