<h1>施設情報の編集</h1>
<%= render "shared/error", obj: @room %> 
<%= form_with model: @room, url: {action: "update"} , html: {multipart: true} ,local: true do |f| %>

  <div class="field">
    <%= f.label :施設名 %><br />
    <%= f.text_field :room_name, autofocus: true, autocomplete: "room_name" %><br />
  </div>

  <div class="field">
    <%= f.label :施設詳細 %><br />
    <%= f.text_field :room_introduction, autocomplete: "room_introduction" %><br />
  </div>

  <div class="field">
    <%= f.label :料金 %><br />
    <%= f.text_field :price, autocomplete: "price"%>
  </div>  

  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address, autocomplete: "address"%>
  </div>  

  <div class="field">
    <%= f.label :施設画像 %><br />
    <%= f.file_field :room_image, autocomplete: "room_image"%>
  </div>  

  <div class="field"><br />
    <%= f.submit :room_image, value: "更新"%>
  </div>
<% end %> 

<%=link_to("/") do %>
<button class="btn" >キャンセル</button>
<%end%><br>

<%= link_to "Back", :back %>
