<h3>登録済み一覧</h3>
<table>
  <thead>
    <tr>
      <th>イメージ</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td>
          <% if room.room_image.blank? %>
            <%= image_tag "default_room.png" , class:"image" %><br>   
          <% else %>
            <img src=<%= room.room_image %> class="image"><br>   
          <% end %>  
        </td>
        <td><%= link_to "#{room.room_name}", "/rooms/#{room.id}/show", class:"link" %></td>
        <td class="introduction"> 
          <%= room.room_introduction %>
        </td>
        <td><%= "¥#{room.price.to_s(:delimited, delimiter: ',')}" %></td>
        <td><%= room.created_at.strftime("%Y/%m/%d") %></td>
        <td><%= link_to "編集", "/rooms/#{room.id}/edit" , class:"link" %></td>
        <td><%= button_to "削除", "/rooms/#{room.id}/destroy", method: :delete , class: "delete_button"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

