<!DOCTYPE html>
<html>
  <head>
    <title>HotelReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <headerContain>
        <a href="/" class="header_logo_area"><img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="ヘッダーロゴ" class="header_image"> </a>
        <div class="headerButtons">
            <% if user_signed_in? %>
                <% if @user.user_image.blank? %>
                    <%= image_tag "default_user.png", class: "top_user_image" %>
                <% else %>
                    <img src=<%= @user.user_image %> class="top_user_image"><br>   
                <% end %>                                 
                <div class="headerButton account_setting">
                    <div class="dropdown_btn">
                        <div id="user_name">
                            <p class=""><%= @user.user_name %></p>
                            <p class="triangle">▼</p>     
                        </div>             
                    </div>   
                    <ul id="dropdown_list">
                        <li class="dropdown_item"><a href="/rooms/new">施設の新規登録</a></li>
                        <li class="dropdown_item"><a href="/reservations/index">予約済み一覧</a></li>
                        <li class="dropdown_item"><a href="/rooms/index">登録済み一覧</a></li>
                        <li class="dropdown_item"><a href="/users/account">アカウント設定</a></li>
                        <li class="dropdown_item"><a href="/users/sign_out">ログアウト</a></li>
                    </ul>
                </div>              
            <% else %>
                <div class="headerButton login">
                    <%= link_to "ログイン","/users/sign_in" %>
                </div>
                <div class="headerButton newAccount">
                    <%= link_to "新規登録","/users/sign_up" %>
                </div>       
            <% end %>       
        </div>
    </headerContain>
    </header>
    <%= yield %>
  </body>
</html>
<!-- Javascriptの外部ファイルが読み込めなかったため、やむを得ず直接記載しています。 -->
<script type="text/javascript">
  document.getElementById("dropdown_list").style.visibility = "hidden"
  document.addEventListener("click", (e) => {        
      if(!e.target.closest("#user_name")) {
          document.getElementById("dropdown_list").style.visibility = "hidden"
      } else {
          document.getElementById("dropdown_list").style.visibility = "visible"
      }
    })
</script>
